<!--This page will interface with firebase, and send the user to the arscale page in cases of ambiguity.-->
<!-- Import and configure the Firebase SDK -->
<!-- These scripts are made available when the app is served or deployed on Firebase Hosting -->
<!-- If you do not serve/host your project using Firebase Hosting see https://firebase.google.com/docs/web/setup -->
<!DOCTYPE html>
<html lang="en">
<script src="https://www.gstatic.com/firebasejs/5.5.3/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.3/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.3/firebase-database.js"></script>
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/Header-Nightsky.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
  <div class="header-nightsky">
    <nav class="navbar navbar-default">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/aa-logo.png" width="400">
        </a>
        <br> </br>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/home">HOME</a></li>
            <li class="dropdown">
                <a href="/luggage">LUGGAGE</a>
            </li>
            <li class="dropdown">
                <a href="#">AIRPORT TRAVEL</a>
            </li>
            <li class="dropdown">
              <a href="https://m.uber.com/ul/?action=setPickup&client_id=-U4XJOt7PDo7wWpIMBcXRhDpG1i0id1E&pickup=my_location&dropoff[formatted_address]=San%20Francisco%20International%20Airport%20(SFO)%2C%20San%20Francisco%2C%20CA%2C%20USA&dropoff[latitude]=37.621313&dropoff[longitude]=-122.378955">UBRILE</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <div class = "hero">
    <h1>The sky is the limit</h1>
    <p>Here is some text i wrote but i do not care about it at the moment</p>
    <div class="btn btn-primary">Lets go fly together</div>
    <div class="btn btn-primary">Contact us</div>


<div id="getLocation()"></div>

<div id="mapholder"></div>

<script>
var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, showError);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    var latlon = position.coords.latitude + "," + position.coords.longitude;
    var img_url = "https://maps.googleapis.com/maps/api/staticmap?center="
    +latlon+"&zoom=14&size=400x300&key=AIzaSyC__enugyQRkIPBh2lSYg_sPcr5v3kkss4";
    document.getElementById("mapholder").innerHTML = "<img src='"+img_url+"'>";
}

function showError(error) {
    switch(error.code) {
        case error.PERMISSION_DENIED:
            x.innerHTML = "User denied the request for Geolocation."
            break;
        case error.POSITION_UNAVAILABLE:
            x.innerHTML = "Location information is unavailable."
            break;
        case error.TIMEOUT:
            x.innerHTML = "The request to get user location timed out."
            break;
        case error.UNKNOWN_ERROR:
            x.innerHTML = "An unknown error occurred."
            break;
    }
}
</script>

<div id="map" style="width:400px;height:400px">

    <script>
        function myMap() {
        var mapOptions = {
            center: new google.maps.LatLng(51.5, -0.12),
            zoom: 10,
            mapTypeId: google.maps.MapTypeId.HYBRID
        }
    var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    }
  </script>

  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC__enugyQRkIPBh2lSYg_sPcr5v3kkss4&callback=myMap"></script>


    </div>
  </div>
</body>
<script>
  // Initialize Firebase
  var  uid;
  var config = {
    apiKey: "AIzaSyAvEiGQkLjdSBQoLtP_1A4PhgCXz5DkI3I",
    authDomain: "behackhu2018.firebaseapp.com",
    databaseURL: "https://behackhu2018.firebaseio.com",
    projectId: "behackhu2018",
    storageBucket: "behackhu2018.appspot.com",
    messagingSenderId: "512276655013"
  };
  firebase.initializeApp(config);
  var db = firebase.firestore();
  db.settings({
    timestampsInSnapshots: true
  });
  var database = firebase.database();
  firebase.auth().onAuthStateChanged((user) => {
    if (user) {
      console.log(user.uid);
      uid = user.uid;
    }
    console.log(uid);
    console.log(
      firebase.database().ref('/users' + uid).once('value').then(function(snapshot) {
      var username = (snapshot.val() && snapshot.val().bags) || 3})
    )
  });
  function writeUserData(uid, bags) {
    console.log("Look at you babe")
    db.collection("users").doc(uid).set({
      bags: bags
    });
  }
  function updateUser(){
      var val = document.getElementById("numLug").value;
      writeUserData(uid,  val);
    }
  db.collection("users").get().then((querySnapshot) => {
      querySnapshot.forEach((doc) => {
          console.log(`${doc.id} => ${doc.data().bags}`);
      });
  });
</script>
