<head>
        <title>Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="assets/css/Header-Nightsky.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <style>
            /* Always set the map height explicitly to define the size of the div
             * element that contains the map. */
            #map {
              height: 100%;
            }
          </style>
          <title>POI Click Events</title>
          <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
          <meta charset="utf-8">
          <style>
            .title {
              font-weight: bold;
            }
            #infowindow-content {
              display: none;
            }
            #map #infowindow-content {
              display: inline;
            }
          </style>
      </head>
      <body>
        <div class="header-nightsky">
          <nav class="navbar navbar-default">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="/aa-logo.png" width="400">
              </a>
              <br> </br>
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/home">HOME</a></li>
                  <li class="dropdown">
                      <a href="/luggage">LUGGAGE</a>
                  </li>
                  <li class="dropdown">
                      <a href="#">AIRPORT TRAVEL</a>
                  </li>
                  <li class="dropdown">
                    <a
                    href="/"
                    >Profile</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <div class = "hero">
          <h2> Navigation </h2>
                <div class="btn btn-primary" onclick=informUser()>Uber</div>
          <div class="btn btn-primary">Directions</div>
          <a href="https://www.google.com/maps/dir/37.6022895,-122.3708185/sfo/@37.6171368,-122.4049,14z/data=!3m1!4b1!4m10!4m9!1m1!4e1!1m5!1m1!1s0x808f778c55555555:0xa4f25c571acded3f!2m2!1d-122.3789554!2d37.6213129!3e0">
            <div class="btn btn-primary">Public Transportation</div>
          </a>
          <a href="https://www.flysfo.com/maps"><div class="btn btn-primary">Airport Map</div></a>
          <br>
          <br>
      <div id="getLocation()"></div>
      
      <div id="mapholder"></div>
      
      <script>
      
      </script>
      
      <body>
        <div id="map"></div>
        <div id="infowindow-content">
          <img id="place-icon" src="" height="16" width="16">
          <span id="place-name"  class="title"></span><br>
          Place ID <span id="place-id"></span><br>
          <span id="place-address"></span>
        </div>
        <script>

          function initMap() {
            var pos = document.getElementById("demo");
            navigator.geolocation.getCurrentPosition(function(position) {
            pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            }
            });
            
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: pos
            });
            var clickHandler = new ClickEventHandler(map, pos);
          }
    
          /**
           * @constructor
           */
          var ClickEventHandler = function(map, origin) {
            this.origin = origin;
            this.map = map;
            this.directionsService = new google.maps.DirectionsService;
            this.directionsDisplay = new google.maps.DirectionsRenderer;
            this.directionsDisplay.setMap(map);
            this.placesService = new google.maps.places.PlacesService(map);
            this.infowindow = new google.maps.InfoWindow;
            this.infowindowContent = document.getElementById('infowindow-content');
            this.infowindow.setContent(this.infowindowContent);
    
            // Listen for clicks on the map.
            this.map.addListener('click', this.handleClick.bind(this));
          };
    
          ClickEventHandler.prototype.handleClick = function(event) {
            console.log('You clicked on: ' + event.latLng);
            // If the event has a placeId, use it.
            if (event.placeId) {
              console.log('You clicked on place:' + event.placeId);
    
              // Calling e.stop() on the event prevents the default info window from
              // showing.
              // If you call stop here when there is no placeId you will prevent some
              // other map click event handlers from receiving the event.
              event.stop();
              this.calculateAndDisplayRoute(event.placeId);
              this.getPlaceInformation(event.placeId);
            }
          };
    
          ClickEventHandler.prototype.calculateAndDisplayRoute = function(placeId) {
            var me = this;
            this.directionsService.route({
              origin: this.origin,
              destination: {placeId: placeId},
              travelMode: 'WALKING'
            }, function(response, status) {
              if (status === 'OK') {
                me.directionsDisplay.setDirections(response);
              } else {
                window.alert('Directions request failed due to ' + status);
              }
            });
          };
    
          ClickEventHandler.prototype.getPlaceInformation = function(placeId) {
            var me = this;
            this.placesService.getDetails({placeId: placeId}, function(place, status) {
              if (status === 'OK') {
                me.infowindow.close();
                me.infowindow.setPosition(place.geometry.location);
                me.infowindowContent.children['place-icon'].src = place.icon;
                me.infowindowContent.children['place-name'].textContent = place.name;
                me.infowindowContent.children['place-id'].textContent = place.place_id;
                me.infowindowContent.children['place-address'].textContent =
                    place.formatted_address;
                me.infowindow.open(me.map);
              }
            });
          };
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC__enugyQRkIPBh2lSYg_sPcr5v3kkss4&libraries=places&callback=initMap"
            async defer></script>
      </body>